*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
    overflow-x: hidden !important;
}
/* .container {
    max-width: 100% !important;
    overflow-x: hidden !important;
} */
.container-fluid {
    padding: 0;
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
  .row {
    margin: 0;
  }
  
  .titlerow {
    margin: 0;
    padding-top: 3rem;
    font-family: 'Patrick Hand SC', cursive;
  }
  .sectiontitle-colorbg{
    color: #34495E;
    font-weight: bold;
  }
  .Button{
    padding: 20px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s s  ease;
}
.Button:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.Button .cv{
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none !important;
    color: white;
    font-size: 16px;
    font-weight: 500;
    
}
.Button .cv:hover{
  
    color: white;
    background-color: #5DADE2;
}

/*Navbar Section*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    /* background-image: linear-gradient(to right, #a517ba, #5f1782); */
    background-color: #fdf9ff;
    /* padding: 0 !important; */
    height: 5%;

    border-bottom: 1px solid #e8dfec;
}
.navbar-brand
{
    margin-left: 10px;
}  
.navbar-brand .logo {
    /* background-color: #ededed; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-family: 'Lobster', sans-serif;
    font-size: 22;
    color: #5DADE2 !important;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.navbar-brand a::before{
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 4px solid #504e70;
    border-left: 4px solid #504e70;
}
.navbar-brand a::after{
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #504e70;
    border-right: 4px solid #504e70;
}
.navbar-nav li
{
    padding: 0 10px;    
}
.navbar-nav li a{
    color: #504e70 !important;
    font-weight: 600;
    float: right;
    text-align: left;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 18px;
}
.nav-link{
  transition: all 0.5s ease;
    -webkit-transition: all 0.5s s  ease;
}
.nav-link:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
    background: #ddd;
    color: black;
}
.nav-item {
    padding: 0 10px 0 10px;
}
/* .collapse{
    background-color: #fdf9ff;
} */
.fa .fa-bars
{
    color: #504e70;
    font-size: 20px !important;
    outline: none !important;
}
.navbar-toggler
{
    outline: none !important;
    color: #504e70;
}

/* Home Section */
.section1 {
    margin-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  .home-image {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
  }
  
  .mainname {
    color: #F62C07 ;
    margin: 1rem auto 3rem auto;
    /* font-family: 'Sacramento', cursive; */
  font-family: 'Lobster', sans-serif;
    /* font-weight: bold; */
    /* font-size: 5rem; */
    font-size: 4rem;
  }
  
  .hello {
    color: #34495E;
    margin: 8rem auto 2rem auto;
    /* font-family: 'Sacramento', cursive; */
    font-family: 'Lobster', sans-serif;
    font-size: 2.5rem;
    /* font-weight: bold; */
  }
  
  .rotating-txt{
    color: black;
    /* font-family: 'Lobster', sans-serif; */
    font-family: 'Patrick Hand SC', cursive;
    font-size: 2rem;
    font-weight: bold;
    font-stretch: semi-expanded;
    margin-left: auto;
  }
  .titletext{
    text-align: center;
  }
  .home-contact-btn{
    margin-top: 5rem;
    align-items: center;
    text-decoration: none;
    position: relative;
    text-align: center;
  }
  
/*About me Section*/
#about-me
{
    /* background-image: linear-gradient(to right, #a517ba, #5f1782); */
    background-color: #f2f2fc;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    padding-top: 40px;
}
.titlerow{
    text-align: center;
    color: black;
    margin-bottom: 20px;
}
.section2{
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 1rem;
  }
  .section2col {
    padding-top: 0px;
    align-items: center;
    text-align: center;
  }
.container
{
    margin: auto;
    width: 100%;
}
.mydetails{
    margin-bottom: 20px;
  }
.intro
{
    text-align: center;
    margin-bottom: 20px;
}
.intro img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    border: 8px solid #ffffff;
}
.intro .shadow-dark
{
    -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.intro h1{
    font-size: 30px;
    color: #302e4d !important;
    margin: 20px 0 5px;
    font-weight: bold;
}
.intro p{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    line-height: 22px;
    color: #504e70;
}
.intro .social-links
{
    margin-top: 25px;
}
.social-links a
{
    height: 35px;
    width: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    color: #ffffff;
    margin: 0 4px;
    border-radius: 50%;
    text-decoration: none;
    background-color: black;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s s  ease;
}
.social-links a:hover{
    background-color: #5DADE2;
    color: white;
    transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.aboutme-text{
  font-size: 20px;
  text-align: justify;
}

/*Education Section*/
#education{
   padding-top: 40px;
   padding: 20px;
}
.timeline{
    background-color: #fdf9ff;
    padding: 30px 15px;
    border: 1px solid #d4d4e3;
    border-radius: 10px;
    position: relative;
}
.timeline .timeline-item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 30px;
}
.timeline .timeline-item:last-child{
    padding-bottom: 0px;
}
.timeline .timeline-item::before{
    content: '';
    background-color: #34495E;
    border: 1px solid #34495E;
    position: absolute;
    height: 100%;
    Left: 7px;
    top: 0;
}
.timeline-box{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.circle-dot{
    position: absolute;
    top: 0;
    left: 0;    
    height: 15px;
    width: 15px;
    background-color: #34495E;
    border-radius: 50%;
}
.timeline-date{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
}
.timeline-date .fa{
    margin-right: 5px;
}
.timeline-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.timeline-text{
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    padding-bottom: 50px;
}

/*Skills Section*/
#skills{
    padding-top: 40px;
    align-items: center;
    background-color: #f2f2fc;
}
.skill-column{
    align-items: center !important;
    text-align: center !important;
    display: block;
    margin-bottom: 20px;
    padding: 0 !important;
}
.column-title{
    align-items: center;
    padding: 20px;
    color: #34495E;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.skills-list{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-bottom: 25px;
  }
  .skills-list .list-item{
  display: inline;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px;
  }
  .content{
    transition: all 0.5s ease;
  -webkit-transition: all 0.5s s  ease;
  }
  .content:hover{
    transform: scale(1.1);
  -webkit-transform: scale(1.1);
  }
  .skills-li-icon{
    height: 50px;
    width: 50px;
    margin: 0;
    padding-top: 10px;
  }
  .list-item-text{
    /* padding: 10px; */
    color: black;
    margin-right: 5px;
    vertical-align: -webkit-baseline-middle;
  }

  /*Projects Section*/
#projects{
    padding: 40px;
    align-items: center;
    text-align: center;
}
.projects-column{
  /* -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%; */
  display:flex;
  margin-bottom: 20px;
}
.project-item{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #d4d4e3;
    width: 100%;
}
.project-img{
    width: 100%;
    display: block;
}
.project-img .img{
    width: 100%;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.project-img .img:hover{
    transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.project-info{
    padding: 30px 15px;
}
.btn{
  position:relative;
  bottom: 20px;
  display: flex;
}
.project-title{
    font-size: 18px;
  font-weight: 700;
  color: #302e4d;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.project-description{
    font-size: 16px;
  line-height: 25px;
  color: #504e70;
  font-weight: 400;
  margin-bottom: 15px;
}
.ipad{
  margin-right: 5px;
}
.ongoing{
  max-width: fit-content;
}

/*Contact me Section*/
#contact-me{
  align-items: center;
  text-align: center;
  background-color: #f2f2fc;
}
.message{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.mail-icon .fa{
  font-size: 40px;
}
.copyright-text{
  padding-top: 30px;
  font-size: 0.75rem;
}